link-hover()
  transition background 0.2s ease-out,color 0.1s ease-out
hide-for-hover()
  visibility hidden
  opacity 0
  transition visibility 0s linear 0.3s,opacity 0.3s ease-in-out
top-for-hover()
  transition top 0.2s ease-out
show-for-hover()
  visibility visible
  opacity 1
  transition-delay 0s
hilight-title()
  text-align center
  background url("/sites/all/themes/best_responsive/images/sprites.png") center -590px no-repeat
  height 78px
  line-height 76px
  font-size 40px
  font-weight 100
  margin 20px 0
  font-family Times New Roman
flag-button()
  width 95px
  display inline-block
  height 38px
  font-normal()
  line-height 25px
  color black
  background #ececec
  position absolute
  right 0
  z-index 5
  left 0
  margin auto
  top 0
  bottom 0
  a
    color red
    display block
    text-align center
    padding 5px
font-normal()
  font 14px latoregular
  line-height 28px