#wrap{width:1024px;}
#navigation{
  position: relative;
  height: 80px;
  top: 0; 
  right:0;
  margin-top:0;
}
#navigation #main-menu{
  height: 52px;
  background:#343434;
  
}
#navigation #main-menu > ul > li > a{
  padding: 10px 20px;
  font-size: 16px;
}
#navigation #secondary-menu{
  height:30px;
  clear:both;
  background:#999;
}
#navigation #secondary-menu ul{
  margin:0;
}
#navigation #secondary-menu ul>li{
  list-style:none;
  float:left;
  height:30px;
}
#navigation #secondary-menu ul>li>a{
  color: #eaeaea;
  padding: 5px 12px 5px 8px;
  font-weight: bold;
  display: block;
  font-size: 11px;
}

#navigation #secondary-menu ul>li>a:hover, #navigation #secondary-menu ul>li>a.active-trail{
  color: #fff;
}

.panel-2col-stacked .panel-col-first{
  width:75%;
}