@import 'color.styl'
@import 'mixin.styl'

div#logo 
    height 137px
    background white
    padding 20px
    box-sizing border-box

#logo img
    margin auto

.webmaster-menu
  background-color #ab0070
  font-weight 700
  font-family 'Lucida Grande', 'Lucida Sans Unicode', sans-serif
  font-size 14px
  ul
    &.menu
      & > li
        &:hover
          & > a
            background-color #510033
.clear
  clear both
  
.flag-throbber
  display none

.flag-message 
  display none !important

body
  a
    text-decoration none
    color black
//    &:hover
//      
//      color #ccc
  td
    vertical-align middle
    padding 5px 6px
  input
    -webkit-box-sizing border-box /* Safari/Chrome, other WebKit */
    -moz-box-sizing border-box    /* Firefox, other Gecko */
    box-sizing border-box
.container
  min-height 600px
#wrap
  width 1140px
  box-shadow 1px 1px 5px #333
#home-slider
  border-top 1px solid #a0a2ac
  min-height 53px
.nav-login
  font-normal()
  margin 0
  height 30px
  border-top 1px solid #6c6c6c
  border-bottom 1px solid #6c6c6c
  li.vendor
    background #cbcbcb
    a
      color black
  li
    height 28px
    padding 8px 20px
    display block
    list-style none
    a
      color white
      line-height 1em
      display block
      float left
    &.login
      &:before
        content ''
        width 20px
        height 20px
        display block
        margin-right 10px
        float left
        background url('/sites/all/themes/best_responsive/images/sprites.png') -34px -8px
  li.lang
    padding 2px 0px
    text-align center
    line-height 27px
    color white
    width 80px
    ul
      max-height 0px
      overflow hidden
      transition max-height 0.2s ease-out
      li
        padding 0px
    &:hover
      ul
        max-height 70px
        background black
        width 100%
        margin 0
        li
          height 30px
          border 1px solid
    a
      color white
      display block
      height 100%
      width 100%
      padding 6px

.fleft
  float left
.fright
  float right
.page-home
  #main-menu
    position absolute
    top 7px
  #navigation form#search-block-form
   top 14px
#navigation
  font 16px latoregular
  position relative
  height 80px
  top 0
  right 0
  margin-top 0
  #main-menu  
    width 100%
    z-index 1
    height 45px
    background url(/sites/all/themes/best_responsive/images/nav-bg.png)
    & > ul
      & > li
        & > a
          link-hover()
          line-height 32px
          padding 7px 20px
          font-size 16px
          height 45px
          color white
    li:hover a, a.active
      color pink
  #secondary-menu
    clear both
    height 57px
    background #2a2a2a
    border-bottom 1px solid #404040
    font-size 16px
    padding 0 30px
    line-height 2.9em
    ul
      margin 0
      & > li
        list-style none
        float left
        height 57px
        & > a
          link-hover()
          color white
          padding 5px 28px 5px 28px
          display block
          height 57px
          font-size 16px
  form#search-block-form
    position absolute
    right 28px
    z-index 2
    top 7px
    height 28px
    input
      &.form-text
        width 253px
        height 26px
        background transparent
        border 1px solid white
        color white
        font 14px latoregular
        padding 5px 10px
    &:after
      content ''
      width 23px
      height 26px
      background url('../images/sprites.png') -23px -34px
      position absolute
      right 0
      top 2px
    input.form-submit, #search-form input.form-submit
      display none

          
#navigation #secondary-menu ul>li>a:hover, #navigation #secondary-menu ul>li>a.active-trail
  color black
  background pink


  
.view-top-reviews, .view-tips-sidebar
  tr:hover
    background grey
  img
    display block
  td
    padding 2px 3px
  td.views-field.views-field-subject , .views-field-title
    font-size 12px
    a
      display block
    

  td.views-field.views-field-picture,td.views-field-field-image
    width 70px

@import 'vendors-navigation.styl'


.panel-2col-stacked, .panel-2col
  .panel-col-first
    width 75%
  .panel-col-last
    width 24%
    margin-left 10px
    img
      display block
//normal pager style
.view > .item-list
  position relative
  li.pager-current
    display none
  li
    background none
    a
      display inline-block
      position relative
      background none
      width 142px
      border-radius 0
      font 16px latoregular
      padding 3px
      color white
  .pager-next
    a
      background pink
  .pager-previous
    a
      background black
.panel-col-first 
  .panel-pane
    .view.top-right-pager >.item-list
      position absolute
      top 0
      right 0
      li.pager-current
          display none
      .pager
        li
          background none
          margin 0px
          padding 0
          a:hover
            background pink
          a
            background grey
            width 26px
            height 26px
            border-radius 26px
            display inline-block
            padding 5px
            font 26px latolight
            line-height 12px
            color black
  
  .panel-pane.pane-block
    .pane-title
      font 24px Times New Roman
      height 43px
      border-bottom 1px dotted black

    .pane-content
      border-top 1px solid black
      margin-top 2px
      & > .view
        border-top 1px solid #ebebeb
        padding-top 29px

    
  .pane-search-vendors
    .pane-title
      font 24px Times New Roman
      height 43px
      border-bottom 1px dotted black
    >.pane-content
      border-top 1px solid black
      margin-top 2px
      .panel-display
        border-top 1px solid #ebebeb
        padding-top 29px
  //  & .inside > .panel-pane:nth-child(1)
  //    .pane-title
  //      hilight-title()
.pane-views-gallery-block, .pane-vendors-navigation
  .pane-title
    hilight-title()
.panel-pane
  margin-bottom 30px

.panel-col-last .panel-pane
  position relative
  border 1px solid #adadad
  table
    margin-bottom 0px
  .pane-title
    font 28px "Times New Roman"
    text-align center
    background url(/sites/all/themes/best_responsive/images/sprites.png) center -605px no-repeat;
    height 78px
    line-height 50px
  .view-filters
    background #e6e5e4
    overflow hidden
    position relative

  .views-exposed-form
    background #e6e5e4
    height 40px
    font-size 12px latoregular
    width 180px
    margin 0px auto
    //    &:before
    //      content '<'
    //      position absolute
    //      font 36px latolight
    //      left 10px
    //      top 0
    //      height 42px
    //      line-height 42px
    //      cursor pointer
    //    &:after
    //      content '>'
    //      position absolute
    //      font 36px latolight
    //      right 10px
    //      top 0
    //      height 42px
    //      line-height 42px
    //      cursor pointer
    .views-exposed-widget
      padding 4px
    .views-exposed-widgets
      position relative
      transition left 0.4s ease-in-out
      left 0px
    .views-exposed-widgets[page='1']
      left -180px
    .views-exposed-widgets[page='2']
      left -360px
    .form-type-bef-link
      width 60px
      a
        padding 0px 5px
        font 12px latoregular
  .view-header
    position absolute
    z-index 2
    width 100%
    .cat-nav
      position absolute
      font 36px latolight
      top 0
      height 42px
      line-height 42px
      cursor pointer
    .cat-nav.left
      left 10px
    .cat-nav.right
      right 10px
  .view-content
    tr
      padding 6px 4px
      height 90px
      border-bottom 1px dotted #adadad
      background white
      cursor pointer
    tr:hover
      background grey
  .view-top-reviews img, .view-tips-sidebar img
    width 91px
    height 76px
    border 1px solid #dcdcdc
  td.views-field
    border none
    &.views-field-title
      padding-left 7px
      color pink
      font 18px Times news roman
      a
        color pink
        line-height 1em
      p
        color #555
        font 14px Arial
        height 53px
        margin 5px 2px 0 0
    &.views-field-subject
      padding-left 7px
      a:nth-child(1)
        color pink
        font 18px Times news roman
      a:nth-child(2)
        color #555
        font-size 12px
        margin 5px 2px 0 0
      .fivestar-user-stars
        height 30px
        padding 5px 0

.views-responsive-grid
  .views-column
    width 32%
    margin 0px 5px 0px 0
    display inline-block
    position relative
    height 230px
    width 250px
    height 280px
    border 1px solid #9b9592
    margin-right 26px

  &.views-columns-4
    .views-column
      width 23%
      //padding 4px
      margin 3px 1px 1px 0
  &.views-columns-5
    .views-column
      width  205px
      height 205px
      margin 5px
  .views-column-last
    margin-right 0px
.view-subpage-tips
  .more-link
    border-top 1px solid black
    height 30px
    background pink
    font 16px Times New Roman
    line-height 30px
    margin-right 4px
    a
      display block
      color black
    a:after
      content '>>'
      margin-right 10px
  .views-field-field-image
    img
      //width 250px
      //height 280px
      display block
  //  .shadow
  //    position absolute
  //    top 0
  //    left 0
  //    right 0
  //    bottom 0
  //    background rgba(0,0,0,0.7)
  //    hide-for-hover()
  .views-column:hover
    .shadow, .views-field-nothing
      show-for-hover()
    .views-field-nothing .shadow
      top 0
    .views-field-title-field, .views-field-title
      background-color transparent//rgba(220,220,220,1)
      a
        color pink
    //  .views-field-ops
    //    flag-button()
    //    hide-for-hover()
  .views-field.views-field-nothing
    hide-for-hover()
    font-normal()
    position absolute
    line-height 25px
    top 0
    width 100%
    height 100%
    background rgba(0,0,0,.75)
    .shadow
      position absolute
      width 100%
      bottom 0
      top 30px
      top-for-hover()
      margin auto
      height 38px
      text-align center
      & > span
        width 95px
        margin-right 2px
        display inline-block
        height 38px
        background pink
        color black
        &.flag-wrapper
          &.flag-bookmark
            background #ececec
          a
            width 90px
            color red
      a
        height 100%
        width auto
        padding 6px 0px
        display inline-block
        min-width 90px
  .views-field-title, .views-field-title-field, .views-field-title-field-et
    display block
    position absolute
    bottom 0
    left 0
    right 0
    padding 2px 10px
    height 60px
    background-color rgba(0,0,0,0.7)
    z-index 1
    font-weight 700
    font-normal()
    transition background-color ease-in-out 0.3s
    a
      color white
      transition color ease-out 0.3s
.view-gallery
  .views-responsive-grid
    .views-column
      position relative
      height 170px
      width 170px
  &.bookmarks
    .views-field-ops
      position absolute
      right 0
      top 0
      bottom 0
      left 0
      margin auto
      z-index 5
      width 80px
      text-align center
      height 25px
      background #ccc
      display none
  .views-column:hover
    .views-field-ops
      display block
.view-user-bookmarks.forums
  .views-field-name, .views-field-created, .views-field-ops
    display inline
  .views-field-comment-count
    float right
.view-user-reviews
  .views-field-title a
    display block
  .views-field-subject a:nth-child(1)
    display block
  .views-field-subject a:nth-child(2)
    margin 5px
//Vendor Block   
.view-vendors-block
  .views-column
    border 1px solid #e7e6e5
    padding 9px
  .views-column:hover
    .views-field-nothing
      show-for-hover()
      .shadow
        top 0
  .views-field-title
    font 16px latoregular
    margin-bottom 7px
    margin-top: 8px
    height 23px
    //font-weight 700
  .views-field-province
    font-normal()
    line-height 23px
    height 25px
    margin-right 5px
    float left
    span
      padding 2px 0
      height 25px
      display block
  .views-field-field-vendor-category
    font-normal()
    line-height 23px
    height 25px
    li
      list-style-type none
      display inline-block
      height 25px
      margin 0px 1px
      background #eee
      padding 2px 8px
  .views-field-field-vendor-photo
    width 231px
    height 146px
    img
      display block
  .views-field-field-rating
    height 28px
    margin-bottom 18px
    height 30px
    margin 10px 0px
    width 140px
    border 1px solid #eee
  .views-field-ops
    position absolute
    top 0
    right 0
    font-size 10px
  .views-field.views-field-nothing
    hide-for-hover()
    font-normal()
    position absolute
    line-height 25px
    bottom 9px
    width 231px
    height 146px
    background rgba(0,0,0,.75)
    .shadow
      position absolute
      width 100%
      bottom 0
      top 30px
      top-for-hover()
      margin auto
      height 38px
      text-align center
      & > span
        width 95px
        display inline-block
        height 38px
        background pink
        color black
        &.flag-wrapper
          &.flag-bookmark
            background #ececec
          a
            width 90px
            color red
      a
        height 100%
        width auto
        padding 6px 0px
        display inline-block
        min-width 90px


.page-node
  #content-wrap
    .field-name-field-image
      img
        display block
        margin auto
  .region-content
    .content
      position relative

//a
//  &.write-review
//    position absolute
//    right 0

.links
  .comment-add
    display none

.pane-views-gallery-block
  
  padding 10px 10px
  .pane-title
    text-align center
  .pane-content
    padding 50px 73px
    background #eee
    .views-columns-5
      .views-column
        width 172px
        height 172px

.panel-col-last
  .views-exposed-form
    overflow hidden
    //overflow-x scroll

.view-id-vendors_block
  .views-exposed-form
    display none

.page-gallery
  .views-responsive-grid.views-columns-5
    .views-column
      width 205px
      height 205px
      img
        display block
        width 203px
        height 203px
  
#search-vendors
  padding-bottom 10px
  .form-submit
    display none
  .subcategories
    float left
    padding-right 10px

.bef-select-as-links
  width 700px
  height 25px

.form-type-bef-link
  float left
  padding 5px
  width 68px
  text-align center

.node-type-vendor
  .panel-col-top
    .field-name-field-location
      &.field-type-location
        float left
    .panel-pane.pane-custom.pane-2// write review button
      position absolute
      top 30px
      display block
      background #ccc
      font-size 12px
      padding 2px 20px
      right 0
      p
        margin  0
  .pane-node-field-vendor-photo
    clear both
    width 70%
    height 300px
    overflow hidden
    float left
  .pane-views-vendor-comments-view-block-1
    width 30%
    height 300px
    float left
  .panel-col-top
    .panel-separator
      display none
  
  ul.vendor-detail-navigation 
    margin 0px
    list-style-type none
  ul.vendor-detail-navigation li
      display inline-block
      padding 2px 10px
      min-width 120px
      background #ccc
  .pane-node-flag-bookmark-link
      float right
      display inline-block
      width 190px
      text-align center
      height 29px
      background #ccc
  .pane-custom.pane-1
      width 80%
      display inline-block

  .field-name-field-location
    .country-name
      display inline-block
    .region
      display inline-block

  .pane-node-field-vendor-tags
    float left

  .field
    &.field-name-field-vendor-tags
      &.field-type-taxonomy-term-reference
        .field-item
          display inline-block
    
  .field-type-taxonomy-term-reference .field-item, .adr .region, .adr .country-name
    background #ccc
    margin 2px 3px
    padding 1px 5px
    font-size 12px
    border-radius 4px
  .field-name-field-vendor-photo.field-type-image
    .field-item:nth-child(1)
      height 297px
      width 350px
      float left
      margin-right 3px
      img
        height 297px
        width 350px
    .field-item:nth-child(n+2)
      height 147px
      width 150px
      float left
      margin 0 3px 3px 0
      img
        height 147px
        width 150px
  .pane-block.pane-views-vendor-comments-view-block-1 
    position relative
    .view-header a.write-review
      display none
      position absolute
      top 4px
      //display block
      background #ccc
      font-size 12px
      padding 2px 20px
    .user-picture
      float left
      margin 20px 5px 5px 10px
    .comment-detail
      float left
      margin 20px 0px 0px 5px
      width 195px
      .subject
        font-size 16px
      .body
        font-size 13px
      .post-date
        display none
        
    
  .pane-views-vendor-comments-view-block    
    .user
      width 170px
      padding 30px 50px
      height 130px
      float left
      clear both
    .comment-detail
      float left
      margin-top 20px
      width 500px
      .fivestar-user-stars
        width 100px
        height 20px
        float left
      .subject
        font-size 16px
      .body
        font-size 12px
      .post-date
        font-size 11px
        display block
  .pane-views-vendor-products-view-block
    .views-field
      &.views-field-field-photo
        display block
        width 170px
        float left
        margin-right 10px
      &.views-field-field-price
        position absolute
        right 0
        top 0
        text-align right
        padding 2px 20px
        background #ccc
        .field-content
          display inline-block
        span.views-label
          &.views-label-field-price
            display inline-block

      &.views-field-title
        font-size 16px

    .views-row
      clear both
      position relative
      margin-bottom 5px
      height 180px

  .pane-views-vendor-news-view-block
    .views-field
      &.views-field-body
        width 60%
        float left
    .views-field
      &.views-field-title
        font-size 16px
      &.views-field-field-photo
        float right
        width 260px
        height 210px
        
    .item-list
      clear both
      text-align right
      margin-top 10px
      ul
        &.pager
          text-align right
    .news-price
      float right
      padding 5px 20px
      background #ccc
      font-size 16px
  .gmap-control
    margin 10px auto

    
    
    
// Log in styles
.pane-fb-connect-login-primary
  .ajax-progress-throbber, .fb_connected
    display none

.page-login
  .panel-col-first.panel-panel, .panel-2col-stacked .panel-col-last
    width 45%
    border 3px solid
    padding 10px
    margin-right 10px
    height 330px
  .panel-pane
    border none
  .panel-pane .pane-title
    font-size 20px
    background none
    height 30px
    line-height 30px
    margin 0
  .panel-pane.pane-block
    &.pane-fboauth-login
      text-align center
    &.pane-user-login
      background #ccc
      .form-item
        text-align center
        margin-bottom 3px

  .pane-block.pane-user-login
    h2.pane-title
        font-size 14px
        font-weight 400
    .item-list
      display none

  div#edit-actions
    text-align center
    margin 0px
    .form-submit
      width 138px
      margin 0
      border-radius 0px
      margin-bottom 10px

  .pane-not-member
    a.register.button
      display block
      margin auto
      width 200px
      text-align center
      padding 5px 0
      background #ccc
      color #555
div#mini-panel-register_description
  padding 40px  60px  
  strong 
    font-size 18px
// register user form
.pane-create-account-top
  text-align center
  padding 30px 0
  border 2px solid #aaa
.pane-happywedding-user-register-form
  text-align center
  padding 20px 80px
  border 2px solid #aaa
  margin-top 20px
  h2
    &.pane-title
      text-align left
  input
    &.password-field
      width 90%

.panel-pane
  &.pane-happywedding-user-register-form
    input
      width 100%
    #edit-actions .form-submit
      margin-right  0px
    .form-item
      &.form-type-password
        width 48%
        position absolute
        display block
    .form-type-password-confirm
      position relative
      height 32px
    .form-item-pass-pass1
      left 0
    .form-item-pass-pass2    
      right 0
    .password-strength 
      display none

    div.password-confirm
      display none
    .password-suggestions
      display none !important
    .field-name-field-first-name
      float left
      width 48%
    .field-name-field-last-name
      float right
      width 48%
    #edit-account
      clear both
    //  width 48%

.page-user
  @import 'user.styl'
    
footer    
  border-top 1px solid #b3b3b3
.footer-block
  padding 30px 40px 0
  .description
    color pink
  .title
    color white
    margin-bottom 20px
  &.last
    text-align right
  &.middle
    text-align center
    li
      list-style-type none
      a
        color white
    ul
      text-align left
      margin-left 40%
  .social
    link-hover()
    width 38px
    height 38px
    background pink
    border-radius 40px
    background pink url(/sites/all/themes/best_responsive/images/sprites.png)
  .social:hover
    background-color pink-hover
  .facebook
    background-position 0 -66px
  .twitter
    background-position -39px -66px
  .gplus
    background-position -78px -66px
  .pinterest
    background-position -116px -66px
.copyright
  text-align center
  height 30px
  font-size 11px
  color white
  margin-top 10px



  









