body a {
  color: #999;
}
body a:hover {
  text-decoration: none;
  color: #fff;
}
#wrap{width:1024px;}
#navigation{
  position: relative;
  height: 80px;
  top: 0; 
  right:0;
  margin-top:0;
}
#navigation #main-menu{
  height: 52px;
  background:#343434;
  
}
#navigation #main-menu > ul > li > a{
  padding: 10px 20px;
  font-size: 16px;
}
#navigation #secondary-menu{
  height:30px;
  clear:both;
  background:#999;
}
#navigation #secondary-menu ul{
  margin:0;
}
#navigation #secondary-menu ul>li{
  list-style:none;
  float:left;
  height:30px;
}
#navigation #secondary-menu ul>li>a{
  color: #eaeaea;
  padding: 5px 12px 5px 8px;
  font-weight: bold;
  display: block;
  font-size: 11px;
}

#navigation #secondary-menu ul>li>a:hover, #navigation #secondary-menu ul>li>a.active-trail{
  color: #fff;
}

.panel-2col-stacked .panel-col-first{
  width:75%;
}

.views-responsive-grid .views-column  {
  width: 32%;
  margin : 3px 5px 8px 0;
  display: inline-block;
  position: relative;
  height: 230px;
}
.views-responsive-grid .views-column .views-field-field-image img{
  width: 230px;
  height: 230px;
  display: block;

}
.views-responsive-grid .views-column .shadow{
  position: absolute;
  top:0;left:0;right:0;
  bottom:0;
  background: rgba(0,0,0,0.7);
  visibility:hidden;
  opacity:0;
  transition:visibility 0s linear 0.3s,opacity 0.3s ease-in-out;
}
.views-responsive-grid .views-column:hover .shadow{
  visibility:visible;
  opacity:1;
  transition-delay:0s;
}
.views-responsive-grid .views-column:hover .views-field-title-field{
  background-color: rgba(220,220,220,1);
}
.views-responsive-grid .views-column:hover .views-field-title-field a{
  color: #666;
}

.views-responsive-grid .views-column .views-field-title-field {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2px 10px;
  height: 30px;
  z-index: 1;
  background-color: rgba(160,160,160,0.6);
  font-weight: 700;
  transition:background-color ease-in-out 0.3s;
}
.views-responsive-grid .views-column .views-field-title-field a{
  color : white;
  transition:color ease-out 0.3s;
}

.page-node #content-wrap .field-name-field-image img{
  display:block;
  margin:auto;
}